{% extends "voting/main.html" %}

{% block title %}
BlockVote
{% endblock %}

{% block body %}
<div class="container text-center" id="main">
    <h1>Welcome to <b style="color: orange;">BlockVote</b></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Rem sint libero unde sed totam deserunt, eum odit provident 
        nesciunt magni. Debitis, vel sequi eum culpa quae pariatur 
        itaque ipsa rerum.</p>
    <a class="btn btn-primary" href="{% url 'vote' %}" role="button">Start Voting</a>
</div>
{% endblock %}
