{% extends "voting/main.html" %}

{% block title %}
BlockVote
{% endblock %}

{% block body %}
<div class="container text-center" id="main">
    <h1>Welcome to <b style="color: orange;">BlockVote</b></h1>
    <p>BlockVote is one of the most secure platforms for e-voting. 
        Based on the blockchain technology BlockVote ensures integrity and anonimization.
        Use your personal "usr id" and start voting anonimously and securly.</p>

        <form class="form-inline" action="#" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="voter_id" placeholder="User ID">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Check Vote</button>
                </div>                
            </div>
            <small><i>Check your vote by providing your user id.</i></small>
        </form>
</div>
{% endblock %}
