{% extends "voting/main.html" %}
{% load static %}

{% block title %}
BlockVote
{% endblock %}

{% block body %}
<div class="container" style="margin-top: 5%; width: 50%;">

    <h1 class="text-center">Presentation</b></h1><br>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tab1" data-toggle="pill" href="#t1" role="tab" aria-controls="pills-home"
                aria-selected="true">George</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab2" data-toggle="pill" href="#t2" role="tab" aria-controls="pills-profile"
                aria-selected="false">Kuangyi Wang</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab3" data-toggle="pill" href="#t3" role="tab" aria-controls="pills-contact"
                aria-selected="false">NAME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab4" data-toggle="pill" href="#t4" role="tab" aria-controls="pills-contact"
                aria-selected="false">NAME</a>
        </li>
    </ul>

    <!-- CONTENT -->
    <div class="tab-content" id="pills-tabContent">
        <!-- CONTENT 1 -->
        <div class="tab-pane fade show active" id="t1" role="tabpanel" aria-labelledby="tab1">
            Topics in CS

The adoption of blockchains worldwide involves a wide range of goods and services such as, property rights, 
healthcare and humanitarian aid. However, what needs special attention is their huge impact on the reversal of the way elections are held. 
Proper implementation will help mobilize new constituencies, strengthen voter turnout, 
reduce violence and hold elections in safer and more credible conditions. <br><br>

In the event of elections, certified voters will be able to vote electronically using blockchains, 
where their votes will be secure and transparent, while protecting the citizen personal data. 
In addition, the security measures included, are promising for the wider dissemination and assurance of electronic voting. 
Much of this success is based on the strong security of blockchains and adherence to their rules. <br><br>

In this video we present BlockVote, an election system that operates using blockchain technology. <br><br>


Let's start with a brief tour of the user interface by looking at its features. <br><br>

This page is the home page that the user will see when they visit the application for the first time. 
From here the user has the option to start the voting process or to check his vote in case he has already voted. <br><br>

This system divides users into two different categories. The simple users and the administrators.<br><br>

A simple user has the right to take part in the voting and to check his own vote. On the other hand, 
an administrator can also take part in the voting, but at the same time he has some additional rights. 
At any time, an administrator can retrieve information about all the data that is stored so far in the 
blockchain as well as count the votes in order to find the winner. These functions will be presented in detail later in this video. <br><br>

We will start by assuming that the user is using the application for the first time and therefore wants  
to start the voting process. <br><br>

This is the page where users can vote. Initially a table presents the details of the candidates
 so that the user can make his choice. In order to conduct the voting, the user must provide their 
 personal id, and the id of the candidate who wants to vote. If all the information, he has provided 
 is correct then the voting process is completed successfully, and his vote is stored in the blockchain as we will see soon. <br><br>

The system is designed in such a way that all users can vote only once. So, if a user tries to
 vote again with the same id the system will refuse his vote.  <br><br>

Once the user has completed the voting process successfully and their vote has been included in 
the blockchain, it is now able to check their vote. All he needs to do is provide the personal id he used during the voting process. <br><br>

The system is also capable of detecting errors such as submitting incorrect information and not 
being able to find candidates or voters in the blockchain. <br><br>



        </div>

        <!-- CONTENT 2 -->
        <div class="tab-pane fade" id="t2" role="tabpanel" aria-labelledby="tab2">
            What is the hash in a blockchain?<br><br>

            Hashing is the process of taking the input string of any length and turning it into cryptographic fixed output.
            Hashing is not an "encryption" and we cannot retrieve the original data by decrypting the hash. It is a one-way
            cryptographic function.<br>
            For example, assume we get a string "123". Through the hashing process, "123" can be turned to
            "a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3". This combination of numbers and letters seems horrible and
            has nothing to do with the original "123".
            But don't worry. You have no need to understand what this hash means. You only need to remember two things:<br>
            1. The hash is unique, which means by the same hashing way, "123" will always be transformed to the output above;<br>
            2. There is no way to reverse the hash above to the original "123".<br><br>

            What is also interesting is that we can keep the whole data which is present on the Internet in the fixed string
            length with the help of Hashing algorithm (SHA-256). No matter what the original data is, the SHA-256 algorithm will
            turn the data into a combination of 64 numbers and letters in total.<br><br>

            Admin Functions<br><br>

            I implemented the two admin functions which are count_vote() method and display_chain() method.<br>
            These two admin functions are not visible to normal voters. They can only be seen in the admin page which only administrators
            have access to. In this way, we can ensure that no voter can see the winner of the voting during voting process
            until we announce it after the voting is over.<br>
            This ensures the fairness and security of voting.<br><br>
            count_vote() will calculate currently which candidate has the most votes. In case, there could be two or more candidates who
            have the same votes at the end of voting, the system will show that there is now winner and more votes are needed. Also, if there is no vote at all,
            an error message will show up.<br>
            display_chain() will show the whole blockchain which contains the votes information, such as user_id, candidate_id, timestamp and the unique hash of that vote.<br>
            Because all the vote data is stored in a blockchain, we don't even need a database to help manage our data.
        </div>

        <!-- CONTENT 3 -->
        <div class="tab-pane fade" id="t3" role="tabpanel" aria-labelledby="tab3">
            YOUR_CONTENT
        </div>

        <!-- CONTENT 4 -->
        <div class="tab-pane fade" id="t4" role="tabpanel" aria-labelledby="tab4">
            YOUR_CONTENT
        </div>
    </div>
</div>
{% endblock %}