{% extends "voting/main.html" %}
{% load static %}

{% block title %}
BlockVote
{% endblock %}

{% block body %}
<div class="container text-center" id="main">
    <h1>Blockhain</h1><br>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>                    
                    <th scope="col">Data</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                        <tr>                    
                            <td>{{ i }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                  <tr>                    
                    <th scope="col">Timestamp</th>
                  </tr>
                </thead>
                <tbody>
                    {% for j in timestamp %}
                        <tr>                    
                            <td>{{ j }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
      </div>
</div>
{% endblock %}